#main-home {
    display: flex;
    flex-direction: column;
    gap: 120px;
    grid-area: main;
}

#header-home {
    height: 80vh;
    width: 100%;
    box-sizing: border-box;
    align-content: center;
    grid-area: header;
}

#header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & img {
        width: 250px;
        border-radius: 50%;
        opacity: 0;
        animation: fade-in-to-left 1s cubic-bezier(0, 0.21, 0.46, 0.99) both;
        animation-delay: 500ms;
    }
}

#header-text {
    width: 450px;
    & h1 {
        opacity: 0;
        animation: fade-in-to-right 1s cubic-bezier(0, 0.21, 0.46, 0.99) both;
        word-wrap: normal;
    }
    & p {
        opacity: 0;
        animation: fade-in-to-right 1s cubic-bezier(0, 0.21, 0.46, 0.99) both;
    }
}

#contact-icons-sections {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: fade-in-to-right 1s cubic-bezier(0, 0.21, 0.46, 0.99) both;
    /* animation-delay: .400s; */
    & svg {
        box-sizing: border-box;
        width: 24px;
        height: 24px;
    }

    & :nth-child(2) {
        width: 26px;
        height: 26px;
    }

    & :nth-child(3) {
        width: 30px;
        height: 30px;
    }
}

@keyframes fade-in-to-right {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-to-left {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
    
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 32px;
    }

    #header-home {
        flex-direction: column-reverse;
    
        & div {
            width: 80%;
        }
    }
}

@media screen and (max-width: 520px) {
    #contact-icons-sections {
        width: 100%;
    }

    #header-home {
        margin-bottom: 70px;
    }
}