#main-home {
    display: flex;
    flex-direction: column;
    gap: 120px;
    grid-area: main;
}

#header-home {
    height: 80vh;
    width: 100%;
    box-sizing: border-box;
    align-content: center;
    grid-area: header;
}

#header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & img {
        width: 250px;
        border-radius: 50%;
        opacity: 0;
        animation: fade-in-to-left 1s cubic-bezier(0, 0.21, 0.46, 0.99) both;
        animation-delay: 500ms;
        z-index: -1;
    }
}

#header-text {
    width: 450px;
    animation: fade-in-to-right 1s cubic-bezier(0, 0.21, 0.46, 0.99) both;
    opacity: 0;
    & h1 {
        word-wrap: normal;
    }

}

#contact-icons-sections {
    text-decoration: none;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & svg {
        box-sizing: border-box;
        width: 34px;
        height: 34px;
    }

    & :nth-child(2) {
        width: 36px;
        height: 36px;
    }

    & :nth-child(3) {
        width: 40px;
        height: 40px;
    }
}



#contact-icons-sections a {
    transition: all .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #1a1a1a;
}

#contact-icons-sections a:hover {
    transform: scale(1.2);

    & svg {
        fill: #c6ffd4;
    }

    
}

#contact-icons-sections a::before {
    font-size: 14px;
    font-weight: bolder;
    padding: 5px; 
    border-radius: 10px;
    background-color: #70E08C;
    width: max-content;
    
    content: attr(icon-description);
    position: absolute;
    color: rgb(0, 0, 0);
    z-index: 1;
    opacity: 0;
    transform: translateY(0px) rotate(10deg);
    transition: all .2s ease-in-out;
}

#contact-icons-sections a:hover::before {
    opacity: 1;
    transform: translateY(35px) rotate(0deg);
}

@keyframes fade-in-to-right {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-to-left {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
    
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 32px;
    }

    #header-home {
        flex-direction: column-reverse;
    
        & div {
            width: 80%;
        }
    }
}

@media screen and (max-width: 520px) {
    #contact-icons-sections {
        width: 100%;
    }

    #header-home {
        margin-bottom: 70px;
    }
}