h2 {
    text-align: center;
}

#experience-section h2 {
    animation: fade-in-upwards 1s cubic-bezier(0, 0.21, 0.46, 0.99) both;
    animation-delay: 650ms;
}

@keyframes fade-in-upwards {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}

.experience-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.experience-information {
    width: 70%;
}

.experience-date {
    align-content: center;
}

@media screen and (max-width: 650px) {
    .experience-card {
        flex-direction: column;
        justify-content: center;

        & h3 {
            margin: 0;
        }

        & h4 {
            margin: 0;
        }
    }

    .experience-information {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 420px) {
    .experience-card {
        flex-direction: column;
        justify-content: center;

        & h3 {
            text-align: center;
            margin: 0;
        }

        & h4 {
            text-align: center;
            margin: 0;
        }
    }

    .experience-information {
        display: flex;
        flex-direction: column;
        & p {
            text-align: center;
        }

        /* & div:nth-child(2) {
            align-content: center;
        } */
    }
}