#nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    justify-content: space-around;
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    & svg {
        width: 30px;
        height: 30px;
    }
}

#nav-bar-menu {
    padding: 0;
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 520px) {
    #nav {
        gap: 10px;
    }
    
    .nav-container:nth-child(1) {
        order: 1; 
    }
    
    .nav-container:nth-child(2) {
        order: 3; 
    }
    
    .nav-container:nth-child(3) {
        order: 2; 
    }

}