#nav {
    padding: 10px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    justify-content: space-around;

    animation: progressive-fade linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    transition: all .3s ease;
    & svg {
        width: 30px;
        height: 30px;
        transition: all .3s ease;
    }

    & span {
        font-size: 20px;
        color: #70E08C;
    transition: all .3s ease;

    }
    
}

.nav-container:hover {
    scale: 1.1;
    cursor: pointer;

    & span {
        color: #ff7273;
    }

    & svg {
        fill: #ff7273;
    }
}

.nav-container-menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

#nav-bar-menu {
    padding: 0;
    list-style: none;
    text-decoration: none;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    font-weight: bold;
}

#nav-bar-menu li {
    padding: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all .3s ease;
}

#nav-bar-menu li::before, #nav-bar-menu li::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    z-index: -1;
    background-color: #70E08C;
    transition: .3s ease;
}

#nav-bar-menu li:hover::before {
    color: #ff7273;
    width: 100%;
}

@keyframes progressive-fade {
    to {
        background-color: #d2d2d21a;
        backdrop-filter: blur(10px);
        padding: 0px;
    }
}

@media screen and (max-width: 520px) {
    #nav {
        gap: 10px;
    }
    
    .nav-container:nth-child(1) {
        order: 1; 
    }
    
    .nav-container:nth-child(2) {
        order: 3; 
    }
    
    .nav-container:nth-child(3) {
        order: 2; 
    }

}

